{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {{ form_start(form) }}
    <table>
        <tbody>
            <tr>
                <td>{{ form_label(form.sexe)}}</td>
                <td>{{ form_widget(form.sexe) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.nom)}}</td>
                <td>{{ form_widget(form.nom) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.nomDUsage)}}</td>
                <td>{{ form_widget(form.nomDUsage) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.origineNomDUsage)}}</td>
                <td>{{ form_widget(form.origineNomDUsage) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.motAvantNomDUsage)}}</td>
                <td>{{ form_widget(form.motAvantNomDUsage) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.prenoms)}}</td>
                <td>{{ form_widget(form.prenoms) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.taille)}}</td>
                <td>{{ form_widget(form.taille) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.dateNaissance)}}</td>
                <td>{{ form_widget(form.dateNaissance) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.villeNaissance)}}</td>
                <td>{{ form_widget(form.villeNaissance) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.departementNaissance)}}</td>
                <td>{{ form_widget(form.departementNaissance) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.paysNaissance)}}</td>
                <td>{{ form_widget(form.paysNaissance) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.nationalite)}}</td>
                <td>{{ form_widget(form.nationalite) }}</td>
            </tr>
        </tbody>
    </table>
    {# Vos champs de formulaire ici #}
    
    <hr>
    <div id="adresses" data-prototype="{{ form_widget(form.adresses.vars.prototype)|e('html_attr') }}">
        {% for adresseForm in form.adresses %}
            <p>Adresse {{ loop.index }}</p>
            {{ form_row(adresseForm) }}
        {% endfor %}
    </div>
    <button type="button" class="add_adresse">Ajouter une adresse</button>
    <hr>
    <table>
        <tbody>
            <tr>
                <td>{{ form_label(form.telephone)}}</td>
                <td>{{ form_widget(form.telephone) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.couleurYeux)}}</td>
                <td>{{ form_widget(form.couleurYeux) }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div id="parents" data-prototype="{{ form_widget(form.parents.vars.prototype)|e('html_attr') }}">
        {% for parentForm in form.parents %}
            <p>Parent {{ loop.index }}</p>
            {{ form_row(parentForm) }}
        {% endfor %}
    </div>
    <button type="button" class="add_parent">Ajouter un parent</button>
    <hr>

    <button type="submit">Soumettre</button>
{{ form_end(form) }}
</div>
<script>
    // Récupérez le conteneur de la collection
var adressesContainer = document.getElementById('adresses');

// Comptez le nombre d'éléments actuels dans la collection
var countAdresses = adressesContainer.children.length;

// Ajoutez un nouvel élément à la collection lorsqu'on clique sur le bouton
document.querySelector('.add_adresse').addEventListener('click', function() {
    var prototype = adressesContainer.getAttribute('data-prototype');

    // Remplacez "__name__" par le numéro actuel dans le prototype
    var newForm = prototype.replace(/__name__/g, countAdresses);

    // Créez un élément div pour contenir le nouvel élément
    var tempDiv = document.createElement('div');
    tempDiv.innerHTML = newForm;

    // Ajoutez le nouvel élément à la collection
    adressesContainer.appendChild(tempDiv.firstChild);

    // Incrémentez le compteur
    countAdresses++;
});

   // Récupérez le conteneur de la collection
var parentsContainer = document.getElementById('parents');

// Comptez le nombre d'éléments actuels dans la collection
var countParents = parentsContainer.children.length;

// Ajoutez un nouvel élément à la collection lorsqu'on clique sur le bouton
document.querySelector('.add_parent').addEventListener('click', function() {
    var prototype = parentsContainer.getAttribute('data-prototype');

    // Remplacez "__name__" par le numéro actuel dans le prototype
    var newForm = prototype.replace(/__name__/g, countParents);

    // Créez un élément div pour contenir le nouvel élément
    var tempDiv = document.createElement('div');
    tempDiv.innerHTML = newForm;

    // Ajoutez le nouvel élément à la collection
    parentsContainer.appendChild(tempDiv.firstChild);

    // Incrémentez le compteur
    countParents++;
});
</script>
{% endblock %}
